<div class="container">
  <h1 class="ft" style="padding-top:10%;">
    Contact Details
  </h1>
  <br>
  <h4 class="ft">
    Mobile : +94770095174 <br>
    Email : lahiru.mirihagoda@gmial.com
  </h4>
  <br>
  <h1 class="ft" style="padding-top:1%;">
    Social Media
  </h1>
  <br>
  <div class="row">
    <div class="col-md-2">
      <a href="https://www.linkedin.com/in/lahiru-mirihagoda/"><img class="img" src="../../../assets/linkedin.png" alt="linkedin"></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.facebook.com/Lahiru.Mirihagoda"><img class="img" src="../../../assets/facebook.png" alt="facebook"></a>
    </div>
    <div class="col-md-2">
      <a href="https://twitter.com/LMadushanRC"><img class="img" src="../../../assets/twitter.png" alt="twitter"></a>
    </div>
    <div class="col-md-2">
      <a href="https://www.instagram.com/lahiru_mirihagoda/"><img class="img" src="../../../assets/instagram.png" alt="instagram"></a>
    </div>
  </div>

  <br>
  <h1 class="ft" style="padding-top:1%;">
    Other Accounts
  </h1>
  <br>
  <div class="row">
    <div class="col-md-2">
      <a href="https://github.com/Lmadushan"><img class="img" src="../../../assets/github-sign.png" alt="github"></a>
    </div>
    <div class="col-md-2">
        <a href="https://stackoverflow.com/users/7470045/lahiru-mirihagoda"><img class="img" src="../../../assets/overflowing.png" alt="stackowerflow"></a>
    </div>
  </div>
  <br>
</div>
