<div class="container">
  <h1 class="ft" style="padding-top:10%;">
    About
  </h1>
  <h4 class="ft">
    Hi, I'm Lahiru, welcome to my site! I am a Computer Science Undergraduate Student of <b>University of Colombo School of Computing</b> and I'm currently living in
    Gampaha, Sri Lanka. I love Coding and Working on Classic Motorcycles. In my free time I create blog artical for <a href="https://sritechviews.blogspot.com/#">SriTechViews</a>. I care about our environment and a sustainable world. I like to work on stuff
    that creates a positive impact on our society.
  </h4>
  <br>
  <h4 class="ft">
    I compleate my secondary education at <strong>Royal Collage Colombo-07</strong>, from 2007 to 2015. 
  </h4>
  <div class="container" style="text-align:right">
    <img class="img" src="./assets/green-tea.PNG" alt="plant">
  </div>
</div>
