<div class="container">
  <h1 class="ft" style="padding-top:10%;">
    About
  </h1>
  <h4 class="ft">
    Hi, I'm Lahiru, welcome to my site! I am a Computer Science Undergraduate Student of <b>University of Colombo School of Computing</b> and I'm currently living in
    Gampaha, Sri Lanka. I love Coding and Working on Classic Motorcycles. I care about our environment and a sustainable world. I like to work on stuff
    that creates a positive impact on our society.
  </h4>
  <div class="container" style="text-align:right">
    <img class="img" src="../../../assets/green-tea.png" alt="plant">
  </div>
</div>
