<div class="container">
  <h1 class="ft" style="padding-top:10%;">
    Projects
  </h1>
  <br>
  <div class="container">
    <!--1-->
    <div>
      <h4 class="ft">1. Gurugedara</h4>
      <div class="row">
        <div>
          <strong>
            <p class="ft">Type:</p>
          </strong>
        </div>
        <div>
          <strong>
            <p class="ft" style="color:blue"> Group</p>
          </strong>
        </div>
      </div>
      <p class="ft">A System for standardization Current Education in Sri Lankan Institutes.</p>
      <p class="ft"> This System has a Website and a mobile application</p>
      <div class="container row">
        <div>
          <p class="ft">Github Link:</p>
        </div>
        <div>
          <a class="ft" style="text-decoration:none"
            href="https://github.com/Gurugedara">https://github.com/Gurugedara</a>
        </div>
      </div>
      <hr>
      <h6 class="ft"><strong>Technologies Used</strong></h6>
      <div class="row">
        <div class="bt">
          <p>Java/Android Studio</p>
        </div>
        <div class="bt">
          <p>PHP/Laravel</p>
        </div>
        <div class="bt">
          <p>HTML/CSS/Bootstarp</p>
        </div>
        <div class="bt">
          <p>SQL</p>
        </div>
      </div>
    </div>
    <br>
    <hr>

    <!--2-->
    <div>
      <h4 class="ft">2. Bag Bank</h4>
      <div class="row">
        <div>
          <strong>
            <p class="ft">Type:</p>
          </strong>
        </div>
        <div>
          <strong>
            <p class="ft" style="color:blue"> Group</p>
          </strong>
        </div>
      </div>
      <p class="ft">A System for Travelers to fine places for storing their Luggage.</p>
      <p class="ft"> This System has a Website and a mobile application</p>

      <div class="container row">
        <div>
          <p class="ft">Github Link:</p>
        </div>
        <div>
          <a class="ft" style="text-decoration:none" href="https://github.com/bag-bank">https://github.com/bag-bank</a>
        </div>
      </div>
      <hr>
      <h6 class="ft"><strong>Technologies Used</strong></h6>
      <div class="row">
        <div class="bt">
          <p>Angular</p>
        </div>
        <div class="bt">
          <p>Nodejs</p>
        </div>
        <div class="bt">
          <p>HTML/CSS/Bootstarp</p>
        </div>
        <div class="bt">
          <p>Mongodb & Firebase</p>
        </div>
      </div>
    </div>
    <br>
    <hr>

    <!--3-->
    <div>
      <h4 class="ft">3. Dux</h4>
      <div class="row">
        <div>
          <strong>
            <p class="ft">Type:</p>
          </strong>
        </div>
        <div>
          <strong>
            <p class="ft" style="color:blue"> Group</p>
          </strong>
        </div>
      </div>
      <p class="ft">A System for Travelers to fine Guides.</p>
      <p class="ft"> This System has a Website and a mobile application</p>

      <div class="container row">
        <div>
          <p class="ft">Github Link:</p>
        </div>
        <div>
          <a class="ft" style="text-decoration:none"
            href="https://github.com/duxproject">https://github.com/duxproject</a>
        </div>
      </div>
      <hr>
      <h6 class="ft"><strong>Technologies Used</strong></h6>
      <div class="row">
        <div class="bt">
          <p>Angular</p>
        </div>
        <div class="bt">
          <p>Firebase</p>
        </div>
        <div class="bt">
          <p>HTML/CSS/Bootstarp</p>
        </div>
      </div>
    </div>
    <br>
    <hr>

    <!--4-->
    <div>
      <h4 class="ft">4. Institute Management System</h4>
      <div class="row">
        <div>
          <strong>
            <p class="ft">Type:</p>
          </strong>
        </div>
        <div>
          <strong>
            <p class="ft" style="color:blue"> Individual</p>
          </strong>
        </div>
      </div>
      <p class="ft">A System for Manage Day to Day works in a Education Institute.</p>
      <p class="ft"> This is a Stand-alone Desktop Application</p>

      <div class="container row">
        <div>
          <p class="ft">Github Link:</p>
        </div>
        <div>
          <a class="ft" style="text-decoration:none"
            href="https://github.com/Lmadushan/institute_management">https://github.com/Lmadushan/institute_management</a>
        </div>
      </div>
      <hr>
      <h6 class="ft"><strong>Technologies Used</strong></h6>
      <div class="row">
        <div class="bt">
          <p>Java</p>
        </div>
        <div class="bt">
          <p>SQL</p>
        </div>
      </div>
    </div>
    <br>
    <hr>

    <!--5-->
    <div>
      <h4 class="ft">5. Calculator</h4>
      <div class="row">
        <div>
          <strong>
            <p class="ft">Type:</p>
          </strong>
        </div>
        <div>
          <strong>
            <p class="ft" style="color:blue"> Individual</p>
          </strong>
        </div>
      </div>
      <p class="ft">A Calculator with Basic functions.</p>
      <p class="ft"> This is a Cross-Platform Desktop Application</p>

      <div class="container row">
        <div>
          <p class="ft">Github Link:</p>
        </div>
        <div>
          <a class="ft" style="text-decoration:none"
            href="https://github.com/Exxo-Project01/electron-calculator">https://github.com/Exxo-Project01/electron-calculator</a>
        </div>
      </div>
      <hr>
      <h6 class="ft"><strong>Technologies Used</strong></h6>
      <div class="row">
        <div class="bt">
          <p>Electron</p>
        </div>
        <div class="bt">
          <p>Javascript</p>
        </div>
        <div class="bt">
          <p>HTML/CSS</p>
        </div>
      </div>
    </div>
    <br>
    <hr>

    <!--6-->
    <div>
      <h4 class="ft">6. Mobile Application for Dengue Prevention</h4>
      <div class="row">
        <div>
          <strong>
            <p class="ft">Type:</p>
          </strong>
        </div>
        <div>
          <strong>
            <p class="ft" style="color:blue"> Group</p>
          </strong>
        </div>
      </div>
      <p class="ft">A Android application to help prevent Dengue.</p>

      <hr>
      <h6 class="ft"><strong>Technologies Used</strong></h6>
      <div class="row">
        <div class="bt">
          <p>Java/Android Studio</p>
        </div>
        <div class="bt">
          <p>Firebase</p>
        </div>
      </div>
    </div>
    <br>
    <hr>

    <h1 class="ft">Other Work</h1>
    <br>
    <div>
      <h4 class="ft">Technical Writer at SritechViews Blog</h4>
      <a href="https://sritechviews.blogspot.com">sritechviews.blogspot.com</a>
    </div>
    <br>
    <hr>
  </div>
</div>
