<div class="container" style="text-align:center;">
  <h1 class="ft" style="padding-top:10%;">
    Hi!
  </h1>
  <br>
  <h2 class="ft">
    I'm Lahiru Mirihagoda
  </h2>
  <br>
  <h3 class="ft">
    And
  </h3>
  <br>
  <h3 class="ft">
    I Love
  </h3>
  <div class="row">
    <div class="col-md-5">
      <img class="img" src="../../../assets/motor-sports.png" alt="Classic Motorcycles">
      <h5 class="ft">Classic Bikes</h5>
    </div>
    <div class="col-md-2">
      <h5 class="ft" style="font-size:50px; margin-top:45px;">&</h5>
    </div>
    <div class="col-md-5">
      <img class="img" src="../../../assets/code.png" alt="Coding">
      <h5 class="ft">Coding</h5>
    </div>
  </div>
</div>

<div class="footer" style="font-size:8px; text-align:right">
  <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>
